<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ol>
        {% for book in object_list %}
            <li>
                Tytuł: {{ book.title }},
                autor: {{ book.author }},
                data wydania: {{ book.published_date }},
                ilość stron: {{ book.page_count }},
                okładka: {{ book.image_links.small_thumbnail }}
                {{ book.image_links.thumbnail }}
                {{ book.image_links.small }}
                {{ book.image_links.medium }}
                {{ book.image_links.large }}
                {{ book.image_links.extra_large }},
                język: {{ book.language }},
            {% endfor %}
            {% for book_id in object_list %}
                typ: {{ book_id.type }},
                identyfikator: {{ book_id.identifier }}
            </li>
        {% endfor %}
    </ol>

</body>
</html>